*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
.wrapper{
    max-width: 55em;
    margin: 0 auto;
}
.container{
    background-color: rgb(48, 44, 44);
    border: 5px solid #808080;
    padding: 1em;
    margin: 2em;
}
input[type="radio"]{
    display:none;
}
.slider{
	overflow: hidden;
    height: 27em;
    max-width: 100%;
}
.slides{
    width: 100%;
    height: 100%;
    object-fit: fill;
	opacity: 0;
    transition: opacity ease-in-out 0.9s;
}
.text_controls{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}
.text_slider{
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    height: 1.5em;
}
.text_slide{
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    color: #dfdfdf;
    opacity: 0;
    transition: opacity ease-in-out .9s;
}
.controls{
    display: flex;
}
.btn{
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.drop{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #949191;
    transition: 0.8s;
}
.btn:hover .drop{
    background-color: #f0e7e7;
}
.btn:active .drop{
    background-color: rgb(59, 112, 66);
}
#slide1:checked ~ .text_controls > .controls > .btn:nth-of-type(1) > .drop,
#slide2:checked ~ .text_controls > .controls > .btn:nth-of-type(2) > .drop,
#slide3:checked ~ .text_controls > .controls > .btn:nth-of-type(3) > .drop,
#slide4:checked ~ .text_controls > .controls > .btn:nth-of-type(4) > .drop{
	background-color: transparent;
    border: 0.2em solid #adadad;
    width: 0.8em;
    height: 0.8em;
}
#slide1:checked ~ .slider > .img1,
#slide1:checked ~ .text_controls > .text_slider > .text1{
	opacity: 1;
    transform: translateY(0);
}
#slide2:checked ~ .slider > .img2,
#slide2:checked ~ .text_controls > .text_slider > .text2{
    opacity: 1;
    transform: translateY(-100%);
}
#slide3:checked ~ .slider > .img3,
#slide3:checked ~ .text_controls > .text_slider > .text3{
	opacity: 1;
    transform: translateY(-200%);
}
#slide4:checked ~ .slider > .img4,
#slide4:checked ~ .text_controls > .text_slider > .text4{
    opacity: 1;
    transform: translateY(-300%);
}
